# =========================
# Repo-specific
# =========================

#JetBrains IDE folder
.idea
FE/ES5/public
FE/ES5/bower_components
FE/ES5/node_modules
FE/ES6/public
FE/ES6/bower_components
FE/ES6/node_modules
BE/ApiBackend/ApiBackend/bin/*
BE/ApiBackend/ApiBackend/obj/*
BE/ApiBackend/ApiBackend.Tests/bin/*
BE/ApiBackend/ApiBackend.Tests/obj/*
*.csproj.user
BE/ApiBackend/packages
BE/ApiBackend/.vs
*.mdf
*.ldf


# =========================
# Github for Windows defaults
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk